* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


#services_content-cards_area {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#services_content-info_area {
    width: 80%;
}

main section article header hgroup h2 {
    
}

#services_content-info_area section {
    display: flex;

}

#services_content-info_area section div h2 {
    color: #0083CA;

}
#services_content-info_area section div img {
    width: 37rem;

}

@media screen and (max-width: 600px
    /* --- monitor ---*/
) {}


@media screen and (max-width: 600px
    /* --- tablet ---*/
) {}


@media screen and (max-width: 600px
    /* --- phone ---*/
) {}


@media screen and (max-width: 600px
    /* --- watch ---*/
) {}