/*fundermentals*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-style: normal;

    border: solid 1px black;
}

main {
    width: 76%;
}

.liedown {
    display: flex;
    width: 100%;
}

.liedown img {
    width: 100%;
    height: 100%;
}

.room_card_frame {
    width: 28%;
}
.sideright{
    position: relative;
    position: left;
}
.marginright {
    margin-right: 4%;
}
.marginleft {
    margin-left: 4%;
}
.marginmiddle {
    margin-left: 4%;
    margin-right: 4%;
}

.felx {
    display: flex;
}

.flex-left {
    flex-direction: row;
}

.flex-right {
    flex-direction: row-reverse;
}

.services_content {
    margin: 6% auto;
}


.imgfra {
    width: 37%;
    height: 24%;
}



/*
/*monitor*
@media screen and (min-width: 1200px) {
    .monitor {
        width: 1200px;
        height: 800px;
        margin: 0 auto;
    }

    .felx {
        display: flex;
    }

    .flex-left {
        flex-direction: row;
    }

    .flex-right {
        flex-direction: row-reverse;
    }
}


/*tablet*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .tablet {
        width: 600px;
        height: 800px;
        margin: 0 auto;
    }

    .felx {
        display: flex;
    }

    .flex-left {
        flex-direction: row;
    }

    .flex-right {
        flex-direction: row-reverse;
    }
}


/*phone*
@media screen and (max-width: 600px) {
    .phone {
        width: 400px;
        height: 800px;
        margin: 0 auto;
    }

    .felx {
        display: flex;
    }

    .flex-left {
        flex-direction: row;
    }

    .flex-right {
        flex-direction: row-reverse;
    }
}*/